* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #323232;
  border:none
}

body {
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position-y: -200px;
}

textarea:focus, input:focus {
  outline: none;
}
a {
  font-size: .8rem;
}
a:hover {
  color: #08558B;
}

#login-container {
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

label, input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight: bold;
  font-size: .8rem;
}

input {
  border-bottom: 2px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
}
input:focus {
  border-bottom: 2px solid #08558B;
}

#forgot-pass {
  display: block;
  text-align: right;
}
input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  cursor: pointer;
  color: #fff;
  background-color: #08558B;
  font-weight: bold;
}

input[type="submit"]:hover {
  background-color: #1B223C;
  transition: .5s;
}

#social-container {
  margin-bottom:20px;
}
#social-container p {
  margin-bottom: 20px;
}

#social-container i {
 height: 40px;
 width: 40px;
 border-radius: 50%;
 line-height: 40px;
 margin: 0 5px;
 color: #fff;
}

.fa-facebook-f{
  background-color: #3B599B;
}
.fa-linkedin {
  background-color: #0077B5;
}

#register-container p {
  margin-bottom: 10px;
}