{% extends 'core/base.html' %}

{% block content %}

<h1 class="text-3xl"> About </h1>
<div class="mt-6 space-y-6">

    <p>
        Lorem ipsum dolor sit amet,  Lorem ipsum dolor sit amet  Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
    </p>
    <p>
        Lorem ipsum dolor sit amet,  Lorem ipsum dolor sit amet  Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
    </p>
</div>

{% endblock %}

