<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body>
        <nav class="py-6 px-8 bg-slate-800 flex items-center justify-between">
            <h1 class="text-xl text-white">Pizarra</h1>
            
            <div class="space-x-4">
                <a class="text-white" href="#">Sign up</a>
                <a href="#" class="py-4 px-8 bg-slate-600 text-white">Log in</a>
                <a href="#" class="py-4 px-8 bg-sky-600 text-white">Sing up</a>
            </div>
        </nav>
            
            <main class="py-8 px-8">
                <div class="max-w-xl mx-auto py-8 bg-slate-800 text-center">
                
                    <h1 class="text-3xl text-white">Sign up</h1>

                    <form class="mt-6 px-8 space-y-4">
                        <div>
                            <label class="text-white" for="">E-mail</label>
                            <input type="email" class="w-full py-4 px-6 bg-slate-500 text-white">
                        </div>

                        <div>
                            <label class="text-white" for="">Password</label>
                            <input type="password" class="w-full py-4 px-6 bg-slate-500 text-white">
                        </div>
                        <div>
                            <label class="text-white" for="">Confirm Password</label>
                            <input type="password" class="w-full py-4 px-6 bg-slate-500 text-white">
                        </div>
                        <div>
                            <button class="py-4 px-8 bg-sky-600 text-white">Sign up</button>
                        </div>
                    </form>
                </div>
              
            </main>

            <footer class="py-8 px-8 bg-slate-900 text-center">
                <p class="text-white">Copyright (c) 2024 - Code With Stein</p>
            </footer>

        
    </body>


</html>


